sidebar.css
.custom-sidebar {
    width: 240px !important;
  }
  .edit-cancel {
    background-color: #e67341 !important;
    color: white !important;
  }
  
  .edit-save {
    background-color: #85cfef !important;
    color: white !important;
  }
  .delete-cancel {
    background-color: #99e8e8 !important;
    color: white !important;
  }
  
  .deleteBtn {
    background-color: #d11a2a !important;
    color: white !important;
  }
  .addTodo-cancel {
    background-color: #c7292f !important;
    color: white !important;
  }
  .addTodoBtn {
    background-color: #97e394 !important;
    color: white !important;
  }
  .searchInput {
    width: 45%;
    background-color: aliceBlue;
    border-radius: 8px;
    color: black;
    position: relative;
    bottom: 60px;
    right: 10px;
  }
  
  .header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .headerAddTodoBtn {
    background-color: #5bdada;
    color: white;
   
  
  }
  .headerAddTodoBtn:hover {
    background-color: #2756f1;
    color: wheat;
  }
  
  @keyframes example {
    from {
      transform: rotateX(90deg);
      background-color: goldenrod;
    }
    to {
      transform: rotateX(-90deg);
    }
  }
  
  .layout {
    flex: 1;
    margin-top: 4rem;
    background-color: #FAEDCE;
    height: 100vh;
    position: fixed;
    width: 100vw;
  }
  
  .headerTitle {
    color: black;
    position: relative;
    left:40%;
    
  }
  
  @keyframes example1 {
    from {
      left: 0px;
      color: goldenrod;
      font-size: 2rem;
    }
    to {
      left: 65%;
      color: #d11a2a;
      font-size: 3rem;
      font-weight: 600;
    }
  }
  
  .commonTitle{
    color:black;
    font-weight: 800;
  }